.padding-top-50 {
  padding-top: 50px;
}

.content-radio label {
  margin: 5px;
}

.description-select {
  width: 85%;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #ced0da;
  background-color: #ffffff;
}
