.container-fluid-rectangle {
  height: 90px;
  box-shadow: 0 2px 4px 0 rgba(0, 21, 240, 0.1);
  background-color: #ffffff;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 19px;
  font-family: Nunito;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  margin-top: 20px;
  
}
.log-out-button {
  border-radius: 25px;
  background-color: #f2f6ff;
  color: blue;
  border: 2px #f2f6ff;
  padding: 15px 40px;
  font-family: Nunito;
  font-size: 18px;
  letter-spacing: normal;
  color: #234cad;
}
.item {
  font-size: 18px;
  font-family: Nunito;
  color: #000000;
}
.preview-button {
  width: 170px;
  height: 50px;
  border-radius: 4px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  font-family: Nunito;
  position: relative;
  top:30px;
}
.container-preview {
  position: absolute;
  top: 185px;
  margin: 5px;
}
.container-button {
  position: relative;
  top: 170px;
}
.container-save {
  position: absolute;
  top: 170px;
  left: 400px;
}
.button {
  width: 170px;
  height: 50px;
  font-family: Nunito;
  color: #ffffff;
  margin: 5px;
  position: relative;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #6f6d6d, #242526 98%);
}
.button-save {
  width: 220px;
  height: 50px;
  font-family: Nunito;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, blue, blue 98%);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 5px;
}