@font-face {
  font-family: Nunito;
  src: url(./assets/fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito-Bold;
  src: url(./assets/fonts/Nunito-Bold.ttf);
}

.add-another:focus {
  outline: none;
}

.item {
  font-size: 18px;
  font-family: Nunito-Bold;
  color: #000000;
  text-decoration: none;
}

textarea,
input,
textarea:focus,
input:focus {
  outline: none;
}

.resume-input::placeholder {
  color: #04143a;
}

.content-container {
  max-width: 21.895rem;
  max-height: 4.375rem;
  border-radius: 12.5px;
  background-color: #f2f6ff;
}

.content-information {
  margin-top: 90px;
}

.information-resume {
  margin-top: 40px;
}

.basic-information {
  margin-top: 80px;
}

.item-name {
  font-size: 26px;
  font-family: Nunito-Bold;
  line-height: normal;
  letter-spacing: normal;
  color: #04143a;
  top: 30px;
}

.add-another {
  min-width: 118.7px;
  height: 31px;
  font-family: Nunito;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #6f6d6d, #242526 98%);
  font-size: 14px;
  color: #ffffff;
}
